body {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  overflow: hidden;
  background: url('./img/bg3.jpeg') no-repeat center/cover;
}
.header {
  width: 90%;
  position: absolute;
  padding: 0 10px;
  z-index: 1000;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  font-size: 32px;
  color: rgb(255, 213, 0);
  text-decoration: none;
  margin-left: 20px;
}

.menu__btns {
  padding: 10px;
}
.menu__btns a {
  text-decoration: none;
  color: rgb(255, 213, 0);
  font-weight: 700;
  border: 1px solid rgb(236, 200, 17);
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
}
.header a:hover {
  cursor: pointer;
  color: rgb(255, 94, 0);
  border-color: rgb(255, 94, 0);
}
.burger__menu {
  display: none;
  width: 30px;
  height: 30px;
  background: url('./img/menu1.png') no-repeat center;
  margin-top: 5px;
}

.burger__menu:hover {
  background-image: url('./img/menu2.png');
}

@media (max-width: 700px) {
  .menu__btns {
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 25px;
    align-self: center;
  }
  .menu__btns a {
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .burger__menu {
    display: block;
  }
  .burger__menu.open {
    background-image: url('./img/close1.png');
  }
  .burger__menu.open:hover {
    background-image: url('./img/close2.png');
  }
  .burger__menu.open ~ .menu__btns {
    display: flex;
  }
}
.container {
  width: 100%;
  max-width: 80vh;
  /* width: 40vw; */
  height: 80vh;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  position: relative;
}
@media (max-width: 600px) {
  .container {
    width: 80vw;
    height: 80vw;
  }
}
.block {
  width: 28%;
  height: 28%;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 1px solid black;
  font-family: Bradley Hand, cursive;
  z-index: 10;
}
.game {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/back.jpg) repeat top/60%;
  opacity: 0.8;
  z-index: 0;
}
.game_over {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(255, 1, 1);
  font-size: 34px;
  font-weight: 900;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 15;
}
.nav {
  width: 100vw;
  position: absolute;
  padding: 0 10px;
  z-index: 1000;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  font-size: 32px;
  color: rgb(255, 213, 0);
}

.menu__btns {
  padding: 10px;
}
.menu__btns a {
  text-decoration: none;
  color: rgb(255, 213, 0);
  font-weight: 700;
  border: 1px solid rgb(236, 200, 17);
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
}
.nav a:hover {
  cursor: pointer;
  color: rgb(255, 94, 0);
  border-color: rgb(255, 94, 0);
}
